.Grudge {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
    margin: 10px 0;
    padding: 1% 5% 2% 5%;
    font-family: 'Bebas Neue';
}

.Grudge h3 {
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.Grudge .crimes {
    font-size: 1.2rem;
}

.Grudge .grudge-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Grudge .deleteBtn {
    justify-self: flex-end;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    border: none;
    font-family: 'Bebas Neue';
    font-size: 1.1rem;
    padding: 5px 15px;
}
.Grudge .deleteBtn:focus {
    outline: 4px solid transparent;
}
.Grudge .deleteBtn:hover {
    cursor: pointer;
}
.Grudge .deleteBtn:active {
    transform: scale(.98);
}